.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
.modal-main {
    position: fixed;
    background: white;
    width: 30%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .modal-main {
        position: fixed;
        background: white;
        width: 70%;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
  }
  
  /* Small screens */
  @media all and (max-width: 580px) {
    .modal-main {
        position: fixed;
        background: white;
        width: 70%;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }


  }